.judge{
    width: 15vw;
    left: 42.5vw;
    position: absolute;
    top: 20vh;
    z-index: 10000;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0,1,1,1.01);
    transform: perspective(300px) rotateY(0deg);
}
.judge_right{
    transform: perspective(300px) rotateY(45deg);
}
.judge_left{
    transform: perspective(300px) rotateY(-45deg);
}
.monkey_wrap{
    width: 20vh;
    height: 20vh;
    position: absolute;

    overflow: hidden;
    z-index: 1000

}
.t_r_mon_wrap{
    right: calc(25vw - 20vh);
    top: 0vh;
}
.t_l_mon_wrap{
    left: calc(25vw - 20vh);
    top: 0vh;
}
.b_r_mon_wrap{
    right: 0;
    bottom: 0%;
}
.b_l_mon_wrap{
    left: 0;
    bottom: 0%;
}
.monkey{
    width: 300%;
    height: 300%;
    left: 0;
    background-image: url('../img/albert.jpg');
    background-size: contain;

    background-position: left;
    position: absolute;

    transition: all 1s;
    transition-timing-function: cubic-bezier(0,1,1,1.01);
}
.t_r_mon{
    transform: scaleX(-1);
    transform-origin: center;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0,1,1,1.01);
}
.b_r_mon{
    transform: scaleX(-1);
    transform-origin: center;
    top: -200%
}
.b_l_mon{
    top: -200%
}
.monkey_animate{
    left: -200%;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0,1,1,1.01);
}
.t_monkey_animate_top{
    top: -200%
}
.b_monkey_animate_top{
    top: 0%
}