@font-face {
    font-family: albert_black;
    src: url(../fonts/Albert-Black.woff);
}@font-face {
    font-family: albert_bold;
    src: url(../fonts/Albert-Bold.woff);
}@font-face {
    font-family: albert_extrabold;
    src: url(../fonts/Albert-Extrabold.woff);
}@font-face {
    font-family: albert_extralight;
    src: url(../fonts/Albert-Extralight.woff);
}@font-face {
    font-family: albert_light;
    src: url(../fonts/Albert-Light.woff);
}@font-face {
    font-family: albert_medium;
    src: url(../fonts/Albert-Medium.woff);
}@font-face {
    font-family: albert_regular;
    src: url(../fonts/Albert-Regular.woff);
}@font-face {
    font-family: albert_semibold;
    src: url(../fonts/Albert-Semibold.woff);
}@font-face {
    font-family: albert_thin;
    src: url(../fonts/Albert-Thin.woff);
}
div, span{
    font-family: sans-serif;
}
html{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.plate_wrapper{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body{
  background:none !important;
  overflow: hidden;
	background-color: black;
  width: 100%;
  height: 100%;
}
#canvas, #canvas2 {
    width:100%;
    height:100%;
    border: 10px solid transparent;
    position: absolute;
    background-color: none;
    left: 0;
    top: 0;
    z-index: 100000000
}
.rectangle {
    position: absolute;
    background-image:url("monkeys/jump.png");
    background-size:100% 100%;
}
.box-img{
  position: absolute;
  background-image: url('../img/albert_3.jpg');
  background-size: 300%;
  transform: translateX(-10.5vw) ;
  z-index: 100000;
  background-position: center;
  background-size: auto 100%;
  height: 20vh;
  width: 30vh;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0,1,1,1.01);
}
.arrow{
}
.arrow_left{
  width: 0;
  height: 0;
  left: 0;
  display: none;
  top: 100vh;
  background-color: red;
  position: absolute;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0,1,1,1.01);
  
}
.arrow_right{
  width: 0;
  height: 0;
  right: 0;
  display: none;
  top: 100vh;
  background-color: red;
  position: absolute;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0,1,1,1.01);
  
}
.box-img:hover{
  background-size: auto 500%;
}
#box-img1{
  top: 0vh;
  left: 30vh;
}
#box-img2{
  top: 20vh;
  left: 60vh;
}
#box-img3{
  top: 40vh;
  left: 90vh;
}
#box-img3{
  top: 60vh;
  left: 60vh;
}
#box-img4{
  top: 80vh;
  left: 90vh;
}
#box-img5{
  top: 100vh;
  left: 120vh;
}
#box-img6{
  top: 0vh;
  left: 150vh;
}
#box-img7{
  top: 20vh;
  left: 180vh;
}
#box-img8{
  top: 40vh;
  left: 120vh;
}
#box-img9{
  top: 60vh;
  left: 180vh;
}
#box-img10{
  top: 80vh;
  left: 210vh;
}
.back_animate_1{
  background-size: auto 500% !important;
}
#container {
  position: absolute;
  display: block;
  width: 80%;
  height: 80%;
  transition: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: none;
  z-index: 1000
  }  
.plate{
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: perspective(300px) rotateX(12deg) translateY(0vh) rotateY(10deg) translateZ(-100px);
  transform-origin: center 80%;
  z-index: 0
}
.text{
  position: absolute;
  transform: scaleY(1.1) translateZ(-10vh);
  width: 400%;
  height: 300%;
  left: -150%;
  transform-origin: top;
  top: 0vh;
    font-size: 15vh;
    line-height: 16vh;
  top: -300vh;
}
.text_animate{
  animation: animate 48000ms infinite alternate;
  animation-timing-function: linear;
}
@keyframes animate {
  50% {
    transform: translateY(-550vh);
  }
  100% {
    transform: translateY(0vh);
  }
}