@font-face {
    font-family: albert;
    src: url(../fonts/Albert-Medium.woff);
}
div, span{
    font-family: albert;
}
body{
	background-color: black;
}
.box-img{
  mix-blend-mode: exclusion;
  position: absolute;
  background-image: url('../img/albert_3.jpg');
  background-size: 300%;
  transform: translateX(-10.5vw) ;
  z-index: 100000;
  background-position: center;
  background-size: auto 100%;
  height: 8vh;
  width: 12vh;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0,1,1,1.01);
}
.box-img2{
  mix-blend-mode: exclusion;
  position: absolute;
  background-image: url('../img/albert_4.jpg');
  background-size: 300%;
  transform: translateX(-10.5vw) ;
  z-index: 100000;
  background-position: center;
  background-size: auto 100%;
  height: 12vh;
  width: 16vh;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0,1,1,1.01);
}
.box-img:hover{
  background-size: auto 500%;
}
.box-img2:hover{
  background-size: auto 500%;
}
.back_animate_1{
  background-size: auto 500% !important;
}