img{
    /*mix-blend-mode: multiply;*/
    z-index: 10000;
    width: 15vw;
    /* height: 50vh; */
    position: absolute;
    filter: drop-shadow(10px 10px 10px black);
}
.plate_wrap{
    mix-blend-mode: multiply;
    transform: scale(0.5);
    transform-origin: bottom;
    overflow: hidden;
    width: 100vw;
    height: 180vh;
    bottom: 0;
    position: absolute;
}
.mon_wrap{
    width: 12.5vw;
    height: 6.25vw;
    position: absolute;

    overflow: hidden;
    z-index: 1000
}
.mon{
    width: 500%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

  background-image: url('../img/monkey.png');
    background-size: contain;

    transition: all 1s;
    transition-timing-function: cubic-bezier(0,1,1,1.01);
}
.mon_wrap1{
    left: 25vw;
    top: 0vw;
}
.mon_wrap2{
    left: 37.5vw;
    top: 0vw;
}
.mon_wrap3{
    left: 50vw;
    top: 0vw;
}
.mon_wrap4{
    left: 62.5vw;
    top: 0vw;
}
.mon_ani1{
    left: -100%;
}
.mon_ani2{
    left: -200%;
}
.mon_ani3{
    left: -300%;
}
.mon_ani4{
    left: -400%;
}