
@font-face {
    font-family: nimbus-sans;
    src: url(../nimbussanreg.woff);
}
@font-face {
    font-family: nimbus-sans-b;
    src: url(../nimbussanbol.woff);
}
*{
    font-family: 'nimbus-sans', "Noto Sans KR",serif !important;
}
#about {
height: 5.1vh;
transform-origin: left top;
/* transform: rotate(-90deg) translateX(-100%); */
text-transform: uppercase;
position: fixed;
right: 0;
font-size: 3vh;
line-height: 0.9;
/* color: red; */
z-index: 100000000;
 border: 3px solid black; 
/* border-radius: 50%; */
/* padding-top: 4vw; */
text-align: center;
/* margin-right: 1vw; */
padding-top: 1vw;
padding-left: 1vw;
padding-right: 1vw;
/* width: 15vw; */
/* height: 15vw; */
font-family: nimbus-sans-b !important;
}
#about_d img{
filter: invert(1);
position: absolute;
width: 27vw;
left: 36.5vw;
top: 18vh;
opacity: 0;transition: 0.2s
}
#about_d{
    /*font-family: nimbus-sans-b !important;*/
    background: black;
    font-size: 5.8vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.95;
    z-index: 100000000000;
    position: fixed;
    text-align: left;
    right: 0;
    top: 0;
    height: 0%;
    width: 0vw;
    overflow: hidden;

    transition : height 0.2s cubic-bezier(.8,.33,.89,.54),width 0.2s cubic-bezier(.8,.33,.89,.54),color 0.2s ease-out;
}
#about_d>span{
  position: absolute;
  top: 45vh;
  transform: translateY(-50%);
  width: 80vw;
  left: 10vw;
  text-align: center;
    font-size: 5.6vw;
    font-weight: 400;
    font-style: normal;
    line-height: 1.12;

}
.show{
  opacity: 1 !important
}
#close{
  text-align: right;
}
#readmore{
z-index: 100000;
position: absolute;
bottom: 10vh;
text-align: center;
display: block;
width: 100vw;
font-size: 5.2vw !important;
line-height: 1.15;
height: auto;
}
#about_d>span>.kr{
margin-top: 5vw;
word-break: keep-all;
font-size: 4.7vw !important;
line-height: 1.3 !important;
font-weight: 500 !important;
position: relative;
display: block;
}
.about_d_open{
    height: 100% !important;
    width: 100vw !important;
    padding: 1vw;
}
.about_d_open_color{
    color: white !important
}